.AppStyle {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 320px;
  min-height: calc(100vh - 32px);

  row-gap: 24px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #171717;
}

@media screen and (min-width: 1000px) {
    .AppStyle {
        background-color: grey;
    }
}
